<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <header class="main_header">
        <nav class="nav_btn_list">
            <ul class="nav_list">
                <li class="nav_btn"><a href="/">Shop</a></li>
                <li class="nav_btn"><a href="/admin/add-product">Add product</a></li>
                <li class="nav_btn"><a href="/contact-us">Contact-Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/admin/add-product" method="POST" class="form">
            <input type="text" name="add-product" class="add-product">
            <button type="submit" class="add_product_btn">Add Product</button>
        </form>
    </main>
</body>
</html>