* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(248, 226, 187)
}

.main_header {
    height: 50px;
    width: 100%;
    background-color: orange;
}
.nav_list{
    list-style: None;
    display: flex;
}
.nav_btn{
    margin: 10px;
}
.nav_btn a{
    text-decoration: None;
    font-weight: bolder;
    font-size: 22px;
}
.nav_btn a:hover{
    color: aqua;
}

.form{
    margin-top: 25px;
}
.add-product{
    background-color: rgb(178, 178, 253);
    color: black;
    font-weight: bolder;
    border: 0px;
    padding: 10px;
    margin-left: 10px;
}
.add_product_btn{
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(251, 192, 84);
}
